@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{ 
        if (IsPost)
        {
            (Session["rules"] as List<string>).Add(Request["rule"]);
            Response.Redirect("Rules.cshtml");
        }
    }
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
