{ 
	list-style-type: square 
}

#cena {
	color: red;
	font-weight: bold;
}

.wstep {
	font-style: italic;
}

td img {
	border-color: blue;
	border-style: solid;
}

td img:hover {
	border-color: red;
}

h1+h2 {
	letter-spacing: 5px;
}

td[colspan="2"]>p {
	font-size: small;
}

p+p {
	color: grey;
}

body {
	background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fmontgomerycountymd.gov%2FLibrary%2Fresources%2Fimages%2Fcatalog%2Fbookstack.jpg&f=1&nofb=1);
	background-repeat: repeat-y;
}

h1 {
	color: blue;
}

h1 {
	color: green;
}